<template name="addEntry">
  <div class="container">
    {{#autoForm collection="Entries" id="insert-entry-form" type="insert"}}
      {{> afQuickField name="from" defaultValue=dayFrom }}
      {{> afQuickField name="till" defaultValue=dayTill }}
      {{> afQuickField name="repeat" }}
      {{> afQuickField name="resource" options=selectResource defaultValue=resourceId }}
      {{> afQuickField name="project" options=selectProject defaultValue=projectId }}
      {{> afQuickField name="entryType" options=selectEntryType defaultValue="default" }}
      {{> afQuickField name="allday" }}
      <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}
  </div>
</template>
