.timeaxis.background {
  .grid.monday.odd,
  .grid.tuesday.even,
  .grid.wednesday.odd,
  .grid.thursday.even,
  .grid.friday.odd {
    background: rgba(229,229,229, 1);
    &.current-week {
      background: rgba(199,199,199,1);
    }
  }
}
.timeaxis.foreground {
  .major.text.monday.odd {
    background: rgba(255,255,255,1);
    width: 100%;
  }
}

div.delete {
  margin-top: 6px;
  padding-left: 8px;
  font-size: 18px;
  color: $red;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  &:before {
    content: "\e014";
  }
}
